.weather-app {border: 1pt solid gray;
margin-top: 10px;
max-width: 600px;
margin: 0 auto;
padding: 12px;
font-family: 'Roboto Flex', sans-serif;}

.current-icon {font-size: 45px;}

ul{list-style: none;}


